{% extends "admin/index.html" %}
{% load i18n %}
{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo;
    {% for app in app_list %}
    {{ app.name }}
    {% endfor %}
</div>
{% endblock %}
{% endif %}
{% block content %}
<div style="float: left">
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>
    <div id="content-statistics">
        <h1>Statistics</h1>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous">
        </script>

        <select id="aggregateBySelect">
            <option value="minute">Minute</option>
            <option value="hour">Hour</option>
<!--           <option value="day">Day</option>
-->        </select>

        <div style="width: 150%; margin: auto;">
            <canvas id="packetsChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('packetsChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Number of TCP/UDP Packets',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [],
            tension: 0.6
        }]
    },
    options: {}
});

function updateChart(aggregateBy) {
    fetch(`/packets-data/?aggregate_by=${aggregateBy}`)
        .then(response => response.json())
        .then(data => {
            chart.data.labels = data.labels;
            chart.data.datasets[0].data = data.data;
            chart.update();
        });
}

// 监听下拉菜单的变化
document.getElementById('aggregateBySelect').addEventListener('change', function() {
    clearInterval(refreshInterval);  // 清除现有的间隔
    updateChart(this.value);  // 更新图表
    startAutoRefresh(this.value);  // 重新开始自动刷新
});

// 开始自动刷新
function startAutoRefresh(aggregateBy) {
    refreshInterval = setInterval(() => {
        updateChart(aggregateBy);
    }, 30000); // 每5秒刷新一次，时间间隔可根据需要调整
}

var aggregateBySelect = document.getElementById('aggregateBySelect');
var refreshInterval; // 用于存储setInterval的引用
updateChart(aggregateBySelect.value); // 初始加载图表
startAutoRefresh(aggregateBySelect.value); // 开始自动刷新
        </script>

    </div>
</div>
        {% endblock %}
